.tv-container {
    width: 100%;
    height:98%;
    background-image: url("../../assets/tv2.png");
    /* background-color: #cccccc; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display:flex;
}
.screen {
    width:84.5%;
    height:85%;
    background-color: rgb(64, 68, 68);
    margin:auto auto;
    border-radius: 5px;
}
