.tv-container {
    width: 100%;
    height:98%;
    background-image: url("../../assets/tv2.png");
    /* background-color: #cccccc; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display:flex;
}
/* .screen {
    width:84.5%;
    height:85%;
    background-color: rgb(64, 68, 68);
    margin:auto auto;
    border-radius: 5px;
} */
/* https://github.com/xpectro93/beep_boop/blob/main/src/assets/noise.png?raw=true */

.screen {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent
      url("../../assets//noise.png") repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 1s infinite;
    opacity: 1;
    visibility: visible;
    background-color: rgb(29, 33, 36);
    z-index:-100
  }

  @keyframes bg-animation {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-5%, -5%);
    }
    20% {
      transform: translate(-10%, 5%);
    }
    30% {
      transform: translate(5%, -10%);
    }
    40% {
      transform: translate(-5%, 15%);
    }
    50% {
      transform: translate(-10%, 5%);
    }
    60% {
      transform: translate(15%, 0);
    }
    70% {
      transform: translate(0, 10%);
    }
    80% {
      transform: translate(-15%, 0);
    }
    90% {
      transform: translate(10%, 5%);
    }
    100% {
      transform: translate(5%, 0);
    }
  }