@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.App {
  width:100%;
  height:100vh;
  background-color: rgb(24,24,24);
  color:white;
}
nav {
  background-color: gray ;
  font-size: 20px;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;

}
/* 

bg red color
rgb(49,19,24)

red
rgb(251,57,79)

bg cyan color
rgb(48,67,72)

cyan
rgb(134,235,226)


*/
nav a {
  color:rgb(251,57,79);
  font-family: 'Play', sans-serif;
  background-color:rgb(49,19,24);
  padding:1rem;
  border: solid rgb(251, 57,79) 2px;
  text-shadow: 0px 0px 3px rgba(251,57,79,0.6);
  border-radius: 3px;

  ;

}
