.gradient-container {
    width:100%;
    height:25vh;
    background-color: rgb(24,24,24);
}
.grad-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100%;
    height:25vh;
    font-size:10em;background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(139,255,215,1) 32%, rgba(210,222,172,1) 50%, rgba(200,204,190,1) 66%, rgba(139,139,255,1) 87%);


}
